server_tokens off;

server {
    listen 80;

    server_name default;

    client_max_body_size 108M;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;

    server_name showmemory.com;

    ssl_certificate /etc/letsencrypt/live/showmemory.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/showmemory.com/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    client_max_body_size 108M;

    location / {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://showmemory_frontend:3000;
        proxy_redirect off;
    }


    location /api/ {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://show_memory_nginx_1/api/;
        proxy_redirect off;
    }

    location /storage/ {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://show_memory_nginx_1/storage/;
        proxy_redirect off;
  }

    location /telescope/ {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://show_memory_nginx_1/telescope/;
        proxy_redirect off;
    }

    location /vendor/ {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://show_memory_nginx_1/vendor/;
        proxy_redirect off;
    }

    location = /robots.txt {
        add_header Content-Type text/plain;

        return 200 "User-agent: *\nDisallow: /\n";
    }
}

server {
    listen 443 ssl;

    server_name admin.showmemory.com;

    ssl_certificate /etc/letsencrypt/live/showmemory.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/showmemory.com/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    client_max_body_size 108M;

    location / {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://showmemory_dashboard:3010;
        proxy_redirect off;
    }

    location /api/ {
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_pass http://show_memory_nginx_1/api/;
        proxy_redirect off;
    }

    location = /robots.txt {
        add_header Content-Type text/plain;

        return 200 "User-agent: *\nDisallow: /\n";
    }
}
